<template name="header"> 
	<header class="navbar">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-coll
apse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> </a>
			<a class="brand" href="{{pathFor 'dashboard'}}">Symbiote</a> 
			<div class="nav-collapse collapse">
				<ul class="nav">
					<!-- {{#if currentUser}} -->
            <li>
              <a href="{{pathFor 'chattrIndex'}}">Chattr</a>
            </li>
            <li>
              <a href="{{pathFor 'codrIndex'}}">Codr</a>
            </li>
            <li>
              <a href="{{pathFor 'modelrIndex'}}">Modelr</a>
            </li>
            <li>
              <a href="{{pathFor 'stylrIndex'}}">Stylr</a>
            </li>
          <!-- {{/if}} -->
				</ul>
				<ul class="nav pull-right">
					{{#if currentUser}}
            <li>
              <img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{currentUser.profile.avatar_url}}"/>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{currentUser.profile.login}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a>Account Settings</a></li>
                <li class="divider"></li>
                <li><a id="logout">{{loginButtons}}</a></li>
              </ul>
            </li>
          {{else}}
            <li><a>{{loginButtons}}</a></li>
          {{/if}}
				</ul>
			</div> 
		</header> 
</template>

