<template name="header"> 
	<header class="navbar">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> </a>
			<a class="brand" href="{{pathFor 'dashboard'}}">Symbiote</a> 
			<div class="nav-collapse collapse">
				<ul class="nav">
					<!-- {{#if currentUser}} -->
            <li>
              <a href="{{pathFor 'chattrIndex'}}">Chattr</a>
            </li>
            <li>
              <a href="{{pathFor 'codrIndex'}}">Codr</a>
            </li>
            <li>
              <a href="{{pathFor 'modelrIndex'}}">Modelr</a>
            </li>
            <li>
              <a href="{{pathFor 'stylrIndex'}}">Stylr</a>
            </li>
          <!-- {{/if}} -->
				</ul>
				{{> user_info}}
      </div>
    </div>
  </header>
</template>

<template name="user_info">
  <ul class="nav pull-right">
    {{#if currentUser}}
      {{> user_loggedin}}
    {{else}}
      {{> user_loggedout}}
    {{/if}}
  </ul>
</template>

<template name="user_loggedin">
  {{#if loggingIn}}
    <li><a>Logging in...</a></li>
  {{else}}
    <li>
      <img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{currentUser.profile.avatar_url}}"/>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{currentUser.profile.login}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a>Account Settings</a></li>
        <li class="divider"></li>
        {{#if isInRole 'admin'}}
          {{> admin_nav}}  
        {{/if}}
        <li><a id="logout">Logout</a></li>
      </ul>
    </li>
  {{/if}}
</template>

<template name="user_loggedout">
  <li><a id="login">Login with Github</a></li>
</template>

<template name="admin_nav">
  <li><a id="addInstructor" href="{{pathFor 'adminAddUser'}}">Add Users</a></li>
  <li class="divider"></li>
</template>