.chatbox {
	border: solid 1px gray;
	height: 450px;
	overflow: auto;
}

ul.chat {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

ul.chat li {
  padding: 2px 5px;
  margin: 5px 2px 0;
  border-radius: 5px;
}

.chatting-category {
	border: solid 2px gray;
	height: 50px;
}

.input-box {
	border: solid 2px gray;
	height: 70px;
}

.chat li:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}

.chat li .delete,
.chat li .edit {
  padding: 0 3px;
  display: none;
}

.chat li:hover .delete,
.chat li:hover .edit {
  display: inline;
}