<template name="modelrIndex">
	<div class="modellr">
		<div class="row">
			<div class="col-sm-3">
	    	<h1>Modelr</h1>
	  	</div>
	  	<div class="col-sm-2 col-sm-offset-7">
	  		<a id="createModel" href="#"><button style="text-align: right">Create Model</button></a>
	  	</div>
	  </div>
	  <div class="row">
		  <p>Hi! I'm the modelrIndex.</p>

		  <h2>My Models</h2>
		  <p>.....</p>

		  <h2>Class Models</h2>
		  <p>.....</p>

		  <h2>Site-wide Models</h2>
		  <p>.....</p>
	  </div>
	</div>
</template>