<template name="chattrIndex">
  <h1>Chattr</h1>
  <p>Hi! I'm the chattrIndex.</p>
  <div class="row chatting-category">
    <div class="col-lg-4"> <center><h4>Resources</h4></center></div>
    <div class="col-lg-4"> <center><h4>Discussion</h4></center></div>
    <div class="col-lg-4"> <center><h4>Chitchat</h4></center></div>
  </div>

  <div class="row">
    <div class="col-lg-4 chatting-slots">
      
      
    </div>
    <div class="col-lg-4 chatting-slots">
      {{> discussions}}  
           
    </div>

    <div class="col-lg-4 chatting-slots">
     
      {{> chitchats}}  
    </div>
  </div>

  <div class="row input-box">
    <div class="col-lg-4"> {{> resourceSubmit}} </div>
    <div class="col-lg-4"> {{> discussionSubmit}} </div>
    <div class="col-lg-4"> {{> chitchatSubmit}} </div>
  </div>

  

</template>