<template name="chitchat">
  <div class="chat" data-id={{_id}}>
    <h4>
      {{author}} : {{body}} 
      <a class="btn btn-info edit" href="#">E</a>
      <a class="btn btn-danger delete" href="#">D</a>
    </h4>
    <p>{{submittedText}}</p>
  </div>
    

</template>

<template name="resource">
  <li>
    <h4>
      {{author}} : {{submittedText}}
    </h4>
    <p>{{body}}</p>
  </li>
</template>

<template name="discussion">
  <li>
    <h4>
      {{author}} : {{submittedText}}
    </h4>
    <p>{{body}}</p>
  </li>
</template>