<template name="chitchat">
  <div class="chat">
    <h4>
      {{author}} : {{body}} 
      <a class="btn btn-info edit" href="#" data-id={{_id}}>E</a>
      <a class="btn btn-danger delete" href="#" data-id={{_id}}>D</a>
    </h4>
    <p>{{submittedText}}</p>
  </div>
</template>

<template name="resource">
  <li>
    <h4>
      {{author}} : {{submittedText}}
    </h4>
    <p>{{body}}</p>
  </li>
</template>

<template name="discussion">
  <li>
    <h4>
      {{author}} : {{submittedText}}
    </h4>
    <p>{{body}}</p>
  </li>
</template>